<!DOCTYPE html>
<html ng-app="photoAPP">

    <head>
        <link rel="stylesheet" href="../styles/photo-app.css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script type="text/javascript" src="../scripts/photo-app.js"></script>
    </head>

    <body ng-controller="albumController as albums">
        <h1 align="center" class="colInvert">Photo album</h1>
        <br />
        <br />
        <table class="colInvert" align="center">
            <tr>
                <td align="right">
                    Search keywords:
                </td>
                <td align="left">
                    <input ng-model="searchKey1" type="text" width="100"/>
                </td>
            </tr>
            <tr>
                <td align="right">
                  
                </td>
                <td align="left">
                    <input ng-model="searchKey2" type="text" />
                </td>
            </tr>
        </table>
        <br />

        <table ng-controller="panelController as panel">
            <tr>
                <td class="panelTabs">
                    <table>
                        <tr>
                            <td ng-class="{ tabActive:panel.isSelected(1) }">
                                <a href ng-click="panel.selectTab(1)">angularjs</a>
                            </td>
                            <td ng-class="{ tabActive:panel.isSelected(2) }">
                                <a href ng-click="panel.selectTab(2)">Photo albums</a>
                            </td>
                            <td ng-class="{ tabActive:panel.isSelected(3) }">
                                <a href ng-click="panel.selectTab(3)">School newsletters</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content">
                    <div ng-show="panel.isSelected(1)">
                        <img src="https://angularjs.org/img/AngularJS-large.png" />
                    </div>
                    <div ng-show="panel.isSelected(2)">
                        <h4>Photo albums</h4>
                        <p>2016.08</p>
                        <p>2014.01</p>
                    </div>
                    <div ng-show="panel.isSelected(3)">
                        <h4>School newsletters</h4>
                        <p>07_august_2016</p>
                        <p>16_july_2016</p>
                    </div>
                </td>

                <!--<td class="panelContent" ng-show="panel.isSelected(1)>
                    <img src="https://angularjs.org/img/AngularJS-large.png" />
                </td>
                <td class="panelContent" ng-show="panel.isSelected(2)>
                    <h4>Photo albums</h4>
                    <p>2016.08</p>
                    <p>2014.01</p>
                </td>
                <td class="panelContent" ng-show="panel.isSelected(3)>
                    <h4>School newsletters</h4>
                    <p>07_august_2016</p>
                    <p>16_july_2016</p>
                </td>-->
            </tr>
        </table>

        <!--<section ng-controller="panelController as panel">
            <ul class="nav nav-pills">
                <li ng-class="{ active:panel.isSelected(1)}">
                    <a href ng-click="panel.selectTab(1)">Photo albums</a>
                </li>
                <li ng-class="{ active:panel.isSelected(2)}">
                    <a href ng-click="panel.selectTab(2)">School newsletters</a>
                </li>
            </ul>
            <div class="panel" ng-show="panel.isSelected(1)">
                <h4>Photo albums</h4>
                <p>2016.08</p>
                <p>2014.01</p>
            </div>
            <div class="panel" ng-show="panel.isSelected(2)">
                <h4>School newsletters</h4>
                <p>07_august_2016</p>
                <p>16_july_2016</p>
            </div>
        </section>-->

        <br/>
        <table width="100%" style="overflow-x:auto">
            <tr class="colInvert">
                <th class="col1">Date</th>
                <th class="col2"></th>
                <th class="col3">Tags</th>
            </tr>
            <tr class="mainTable" ng-repeat="album in albums.list | filter:searchKey1 | filter:searchKey2 | orderBy:'-date'">
                <td class="col1" valign="top">
                    <a href="{{album.url}}">{{album.date}}</a>
                </td>
                <td class="col2">
                    -
                </td>
                <td class="col3">
                    <table><tr><td class="tag1" ng-repeat="tag in album.tags">{{tag}}</td></tr></table>
                    <!--<span class="tag1" ng-repeat="tag in album.tags">{{"<"+tag+"> "}}</span>-->
                </td>
            </tr>
        </table>
    </body>

</html>
