<p>Photo Albums</p>
<table width="100%" style="overflow-x:auto">
    <tr class="colInvert">
        <th class="col1">Date</th>
        <th class="col2"></th>
        <th class="col3">Tags</th>
    </tr>
    <tr class="mainTable" ng-repeat="album in albumsController.list">
        <td class="col1" valign="top">
            <a href="{{album.url}}">{{album.date}}</a>
        </td>
        <td class="col2">
            -
        </td>
        <td class="col3">
            <table><tr><td class="tag1" ng-repeat="tag in album.tags">{{tag}}</td></tr></table>
            <!--<span class="tag1" ng-repeat="tag in album.tags">{{"<"+tag+"> "}}</span>-->
        </td>
    </tr>
</table>
