body {
    background-image: url("../images/6838265-gray-wallpaper.jpg");
}
tr.mainTable:hover {
    background-color: #a4cca4
}
table.genTable {
    background-image: url("../images/greenTiles-maxResDefault-rot.jpg");
    width: 1080px
}
.col1 {
    width: 80px;
    text-align: right
}
.col2 {
    width: 15px;
    text-align: center
}
.col3 {
    width: auto;
    text-align: left
}
.colInvert /*h1*/ {
    font-family: "Arial", Times, serif;
    background-color: #202020;
    color: #D0D0D0
}
td.tag1 {
    font-family: "Arial", Times, serif;
    font-size: 0.85em;
    background-color: #A0A0A0;
    vertical-align: top
}
/*
th {
    background-color: #202020;
    color: #D0D0D0
}

*/
/*
*span.search {
    font-family: "Arial", Times, serif;
    background-color: #202020;
    color: #D0D0D0
}
*/
/*
span {
    background-color: #808080
}
tr:nth-child(even) {
    background-color: #A0A0A0
}
tr:nth-child(odd) {
    background-color: #606060
}

*/
